.bg-n1{
    // background-image: url('./imagens/tijolos.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
}
body {
    background-image: url('./imagens/c.jpg');
}

.dropdown{
    position: absolute;
    width: 30px;
    height: auto;
    border-radius: 5px;
    margin:10px;
    transform: rotate(90deg);
    text-align: center;
    color:White;
    background-color:gray;
}

.main-box{
    display:flex;
    justify-content: center;
    height: auto;
}

.perfil-photo{
    margin:0 auto;
    width: 250px;
    object-fit: cover;
    height: 250px;
    border-radius: 50%;
    left: 0px;
    top: 0px;
}
.scroll-n1{
    width: 100%;
    height: auto;
    margin:100px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    position: relative;
}

@media (max-width:768px){
    .scroll-n1{
        flex-direction: column;
        align-items: center;
        margin: 40px;
    }
    .skills-n2{
        flex-direction: column;
    }    
    .quadro-img{
        padding-bottom: 50px;
    }
    .info-page{
        width: 100%!important;
        align-items: center;
    }
    .info-page p {
        text-align: center!important;
    }
}
@media (max-width:1070px){
    .projetos{
        justify-content: flex-start;
        overflow-x: auto;
    }
}
.info-page{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    padding:30px;
    color: #fff;
    background-color: #0505054f;
    position: relative;
    width: 50%;
}
.info-page p{
    text-align: left;
    padding: 5px;
    width: 100%;
}

.social img{
    padding:10px;
}



 /* NIVEL 2 */
 .title-n2{
    background-color:#131313b7;
  
 }
 .scroll-n2{
    width: 90vw;
    height: auto;
    margin:0 0 30px 0;
    border:1px solidrgb(124, 124, 124);
    background-color:rgba(31, 31, 31, 0.492);   
}
.scroll-n2 h1{
    width: 100%;
    font-size:30px;
    text-align: center;
}
.skill-bar {
    border-radius:50px;
    width: 300px;
    color:#FFFFFF;
    font-style: italic;
    text-align: center;
    background:#ff4800;
    margin:10px;
}
.skills-n2{
    display:flex;
    // flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

#html{background: -webkit-linear-gradient(left, #057282  90.20%, #000 13.20%);}
#css{background: -webkit-linear-gradient(left, #057282  80.20%, #000 13.20%);}
#js{background: -webkit-linear-gradient(left, #057282  78.20%, #000 13.20%);}
#boots{background: -webkit-linear-gradient(left, #057282  75.20%, #000 13.20%);}
#react{background: -webkit-linear-gradient(left, #057282  25.20%, #000 13.20%);}
#angular{background: -webkit-linear-gradient(left, #057282  15.20%, #000 13.20%);}
#git{background: -webkit-linear-gradient(left, #057282  75.20%, #000 13.20%);}
#eng{background: -webkit-linear-gradient(left, #057282  65.20%, #000 13.20%);}
#jquery{background: -webkit-linear-gradient(left, #057282  25.20%, #000 13.20%);}
#flex{background: -webkit-linear-gradient(left, #057282  75.20%, #000 13.20%);}
#sql{background: -webkit-linear-gradient(left, #057282  70.20%, #000 13.20%);}
#node{background: -webkit-linear-gradient(left, #057282  60.20%, #000 13.20%);}

/* SCROLL 3 */

.scroll-n3{
    width: 90vw;
    height: auto;
    min-height: 250px;
    border:1px solidrgb(124, 124, 124);
    background-color:rgba(31, 31, 31, 0.492); 
}
.scroll-n3 p{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}
.projetos{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.projetos a{
    text-decoration: none;
    padding:20px;
    text-align: center;
}
.card{
    border-radius: 10px;
    padding: 60px;
    width: 200px;
    height: 180px;
    font-size: 18px;
    border: 1px solid rgb(0, 236, 249);
    font-weight: 600;
    background-color:rgb(16, 16, 16);
    color:rgb(0, 236, 249);
    transition:all 0.3s;
    box-shadow: 0px 0px 5px 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover{
    cursor:pointer;
    transform: scale(1.05);
    transition:all 0.3s;
}
/* SCROLL 4 */

.scroll-n4{
    width: 90vw;
    height: auto;
    min-height: 500px;
    margin:30px;
    background-color: rgba(0, 0, 0, 0.258);
}
.scroll-n4 form {
    display:flex;
    flex-direction: column;
    margin:0 auto;
    padding:50px;
}
.scroll-n4 form input {
    padding:10px;
    margin-bottom:10px;
    border-radius: 10px;
    border:1px solid rgb(60, 60, 60);
    background-color:rgba(54, 54, 54, 0.597);
    color:#fff;
}
.scroll-n4 textarea{
    height: 100px;
    margin-bottom: 10px;
    resize: none;
    border-radius: 10px;
    outline:none;
    padding:10px;
    border:1px solid rgb(60, 60, 60);
    background-color:rgba(54, 54, 54, 0.597);
    color:#fff;
}
.scroll-n4 label {
    color:#fff;
    padding:0 0 5px 5px;
}
.scroll-n4 p{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}
.scroll-n4 button {
    padding: 10px;
    background-color: #3bd9f0;
    border-radius: 10px;
    border: none;
}
.btnEnviar {
    background-color: #01747abf!important;
    padding: 15px;
    color:#fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
    cursor:pointer;
}
.btnEnviar:hover {
    background-color: #004c50bf!important;
}
/* TESTE */

.teste{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid;
    background-color: gainsboro;
}
.teste:after{
    content: '>';
    font-size: 2rem;
}
.actived{
    background-color:red;
    width: 50%;
}



//SOCIAL MEDIA
.social-btn {
    display: flex;
    width: 160px;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    margin-bottom: 5px;
    position: relative;
    left: -125px;
    transition: left 1s;
  }
  .social-btn:hover {
    left: -10px;
    transition: left 1s;
  }
  .social-btn span {
      color:#fff;
  }
  .social {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 10px;
  }
  .social a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .color-telegram {
    background-color: #0084c6;
  }
  .color-instagram {
    background-color: #f62782;
  }
  .color-whatsapp {
    background-color: #191919;
  }
  
  .google-font {
    font-family: "Lato", sans-serif;
    font-size: 1.25rem;
  }
  
  .social-btn img {
    width: 40px;
  }
  
  .social-btn p {
    color: white;
  
    margin-top: 0px;
    margin-bottom: 0px;
  }
  







.carousel {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  font-family: Arial;
  margin-top: 50px;
  &__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 300px;
    justify-content: center;
    perspective: 300px;
  }
  & a {
      text-decoration: none;
      color:#fff;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    width: 350px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
    position: absolute;
    transition: all .3s ease-in;
    
    @media (width:768px) {
        &__item {
            width: 150px;
        }
    }
    &:nth-child(1) {
      background: linear-gradient(45deg, #094a9f 0%, #ffffff 100%);
    }
    &:nth-child(2) {
      background: linear-gradient(45deg, #0e15a2 0%, #fdbb2d 100%);
    }
    &:nth-child(3) {
      background: linear-gradient(45deg, #2D35EB 0%, #22c1c3 100%);
    }
    &:nth-child(4) {
      background: linear-gradient(45deg, #0e15a2 0%, #fdbb2d 100%);
    }
    &:nth-child(5) {
      background: linear-gradient(45deg, #c3c3c3 0%, #6618b5 100%);
    }
    
    &[data-pos="0"] {
      z-index: 5;
    }
    
    &[data-pos="-1"],
    &[data-pos="1"] {
      opacity: 0.7;
      filter: blur(1px) grayscale(10%);
    }
    
    &[data-pos="-1"] {
      transform: translateX(-40%) scale(.9);
      z-index: 4;
    }
    
    &[data-pos="1"] {
      transform: translateX(40%) scale(.9);
      z-index: 4;
    }
    
    &[data-pos="-2"],
    &[data-pos="2"] {
      opacity: 0.4;
      filter: blur(3px) grayscale(20%);
    }
    
    &[data-pos="-2"] {
      transform: translateX(-70%) scale(.8);
      z-index: 3;
    }
    
    &[data-pos="2"] {
      transform: translateX(70%) scale(.8);
      z-index: 3;
    }
  }
}