.bg-n1 {
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-image: url("./imagens/universo.jpg");
}

.dropdown {
  position: absolute;
  width: 30px;
  height: auto;
  border-radius: 5px;
  margin: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  text-align: center;
  color: White;
  background-color: gray;
}

.main-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
}

.perfil-photo {
  margin: 0 auto;
  width: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
  border-radius: 50%;
  left: 0px;
  top: 0px;
}

.scroll-n1 {
  -webkit-animation: pulinho 1s alternate;
          animation: pulinho 1s alternate;
  width: 100%;
  height: auto;
  margin: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 10px;
  position: relative;
}

@media (max-width: 768px) {
  .scroll-n1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 40px;
  }
  .skills-n2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quadro-img {
    padding-bottom: 50px;
  }
  .info-page {
    width: 100% !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-page p {
    text-align: center !important;
  }
}

@media (max-width: 1070px) {
  .projetos {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow-x: auto;
  }
}

.info-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding: 30px;
  color: #fff;
  background-color: #0505054f;
  position: relative;
  width: 50%;
}

.info-page p {
  text-align: left;
  padding: 5px;
  width: 100%;
}

.social img {
  padding: 10px;
}

/* NIVEL 2 */
.title-n2 {
  background-color: #131313b7;
}

.scroll-n2 {
  width: 90vw;
  height: auto;
  margin: 0 0 30px 0;
  border: 1px solidrgb(124, 124, 124);
  background-color: rgba(31, 31, 31, 0.492);
}

.scroll-n2 h1 {
  width: 100%;
  font-size: 30px;
  text-align: center;
}

.skill-bar {
  border-radius: 50px;
  width: 300px;
  color: #FFFFFF;
  font-style: italic;
  text-align: center;
  background: #ff4800;
  margin: 10px;
}

.skills-n2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

#html {
  background: -webkit-linear-gradient(left, #057282 90.2%, #000 13.2%);
}

#css {
  background: -webkit-linear-gradient(left, #057282 80.2%, #000 13.2%);
}

#js {
  background: -webkit-linear-gradient(left, #057282 78.2%, #000 13.2%);
}

#boots {
  background: -webkit-linear-gradient(left, #057282 75.2%, #000 13.2%);
}

#react {
  background: -webkit-linear-gradient(left, #057282 25.2%, #000 13.2%);
}

#angular {
  background: -webkit-linear-gradient(left, #057282 15.2%, #000 13.2%);
}

#git {
  background: -webkit-linear-gradient(left, #057282 75.2%, #000 13.2%);
}

#eng {
  background: -webkit-linear-gradient(left, #057282 65.2%, #000 13.2%);
}

#jquery {
  background: -webkit-linear-gradient(left, #057282 25.2%, #000 13.2%);
}

#flex {
  background: -webkit-linear-gradient(left, #057282 75.2%, #000 13.2%);
}

#sql {
  background: -webkit-linear-gradient(left, #057282 70.2%, #000 13.2%);
}

#node {
  background: -webkit-linear-gradient(left, #057282 60.2%, #000 13.2%);
}

/* SCROLL 3 */
.scroll-n3 {
  width: 90vw;
  height: auto;
  min-height: 250px;
  border: 1px solidrgb(124, 124, 124);
  background-color: rgba(31, 31, 31, 0.492);
}

.scroll-n3 p {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

.projetos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projetos a {
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

.card {
  border-radius: 10px;
  padding: 60px;
  width: 200px;
  height: 180px;
  font-size: 18px;
  border: 1px solid #00ecf9;
  font-weight: 600;
  background-color: #101010;
  color: #00ecf9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 5px 1px black;
          box-shadow: 0px 0px 5px 1px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* SCROLL 4 */
.scroll-n4 {
  width: 90vw;
  height: auto;
  min-height: 500px;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.258);
}

.scroll-n4 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 50px;
}

.scroll-n4 form input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #3c3c3c;
  background-color: rgba(54, 54, 54, 0.597);
  color: #fff;
}

.scroll-n4 textarea {
  height: 100px;
  margin-bottom: 10px;
  resize: none;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  border: 1px solid #3c3c3c;
  background-color: rgba(54, 54, 54, 0.597);
  color: #fff;
}

.scroll-n4 label {
  color: #fff;
  padding: 0 0 5px 5px;
}

.scroll-n4 p {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

.scroll-n4 button {
  padding: 10px;
  background-color: #3bd9f0;
  border-radius: 10px;
  border: none;
}

.btnEnviar {
  background-color: #01747abf !important;
  padding: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
}

.btnEnviar:hover {
  background-color: #004c50bf !important;
}

/* TESTE */
.teste {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid;
  background-color: gainsboro;
}

.teste:after {
  content: '>';
  font-size: 2rem;
}

.actived {
  background-color: red;
  width: 50%;
}

.social-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  margin-bottom: 5px;
  position: relative;
  left: -125px;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.social-btn:hover {
  left: -10px;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.social-btn span {
  color: #fff;
}

.social {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 50px;
  left: 10px;
}

.social a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-telegram {
  background-color: #0084c6;
}

.color-instagram {
  background-color: #f62782;
}

.color-whatsapp {
  background-color: #191919;
}

.google-font {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
}

.social-btn img {
  width: 40px;
}

.social-btn p {
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}
/*# sourceMappingURL=style.css.map */