#box {
    background-color:rgb(21, 29, 105);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    .box-boneco {
        margin-top: 10px;
        position: relative;
        border: 1px solid #fff;
        width: 300px;
        height: 200px;
        border-radius: 20px;
        background-color: #0000004a;
    }
    
    .absolute {position: absolute;}

    .cabeca {
        border: 2px solid #fff;
        border-radius: 50%;
        height: 40%;
        width: 30%;
        left: 50%;
        margin-top: 3%;
        transform: translateX(-50%);
        display: none;
    }

    .tronco {
        height: 36%;
        width: 2px;
        border: 1px solid #fff;
        left: 50.2%;
        top: 44%;
        transform: translateX(-50%);
        display: none;
    }

    .braco-esquerdo {
        height: 17%;
        border: 1px solid #fff;
        left: 45%;
        transform: rotate(45deg);
        top: 45%;
        display: none;
    }
    .braco-direito {
        height: 17%;
        border: 1px solid #fff;
        left: 55%;
        transform: rotate(-45deg);
        top: 45%;
        display: none;
    }
    .pe-esquerdo {
        height: 19%;
        border: 1px solid #fff;
        left: 55%;
        transform: rotate(-45deg);
        top: 77%;
        display: none;
    }
    .pe-direito {
        height: 19%;
        border: 1px solid #fff;
        left: 45%;
        transform: rotate(45deg);
        top: 77%;
        display: none;
    }

    .dica {
        color: #fff;
        margin: 20px 0;
    }
    
    #secret-word {
        padding: 0px 0 28px 0;
        width: 50%;
        color: #fff;
        position: relative;
        display: flex;
        justify-content: center;
        font-size: xxx-large;
        white-space: nowrap;
    }

    .bars {
        text-align: center;
    }

    #letrasErradas {
        color: #fff;
        margin: 20px;
        padding: 10px;
    }
    #letrasErradas span {
        margin-right: 10px;
    }
 
    #pontos {
        color: #fff;
        margin-bottom: 20px;
    }
    .pontin {
        margin-left: 10px;
        padding: 2px 10px;
        background-color: #13516f;
        font-weight: bolder;
        color: #fff;
    }
    .orientation {
        color: #fff;
        margin-bottom: 20px;
        text-align: center;
    }
    @media (min-width: 900px) {
        
        .simple-keyboard {
            width: 70%;
        }
    }


}