
body {
    /* background-image: url('./img/bg.jpg'); */
    background-color: #263f5c;
}




/* ####################### */
/*      TELA DE LOGIN      */
/* ####################### */
.color-button-login {
    background-color: #206662;
    color: #fff;
    border: 1px solid #3f957d;
}
.input-login {
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
}
.title-login {
    color: rgb(255, 255, 255);
}
.form-login {
    background-color: #e4e4e417;
    border: 1px solid rgb(38 64 59);
    border-radius: 5px;
}
.infor {
    border: 1px solid #3f957d;
    background-color: #206662;
    color: #fff;
}
.infor strong , .infor p {
    color:rgb(34, 34, 34);
}






/* ####################### */
/* TELA DE CRIAR AMBIENTES */
/* ####################### */

.color-button-ambientes {
    background-color: #00514d;
    color: rgb(187 187 187);
    border: 1px solid rgb(0 107 62);
    box-shadow: -1px 0px 6px 2px #151515;
}
.modal-ambientes-button {
    background-color: rgb(8, 68, 82);
    color: #fff;
    border-radius: 5px;
}
.modal-ambientes {
    background-color:#00514d;
    border: 1px solid rgb(0 107 62);
    border-radius: 10px;
    box-shadow: -3px 0px 9px 2px #000000;
}
.input-ambientes {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color:#000;
}
.modal-title-ambientes {
    color:rgb(244, 244, 244);
}
.card-ambientes {
    background-color: #00514d;
    color:#fff;
    border: 1px solid #003400;
    border-radius: 10px;
    box-shadow: -1px 0px 6px 2px #151515;
}








/* ####################### */
/*     TELA DE QUESTÔES    */
/* ####################### */

.questions-home {
    border: 1px solid #595959a6;
    background-color: #00514d;
    color: #fff;
}
input[type='checkbox']::before {
    content: ' ';
    background-color: rgb(14 53 3);
    border: 1px solid #00805b;
  }
.input[type='checkbox']:checked::after {
    content: ' ';
    border-color: #61ff00;
}
.button-voltar-questions {
    color:#fff;
    background-color:rgb(16, 79, 76);
}
.modal-information {
    border: 1px solid rgba(255, 255, 255, 0.614);
    border-radius: 5px;
    background-color:rgba(0, 0, 0, 0.929);
    color: #fff;
}
.title-home {
    color: #fff;
}
.card-home {
    border-radius: 5px;
    color: #000;
    background-color: #fff;
    box-shadow: 0px 1px 5px 1px rgb(0 0 0);
}
.close-btn-home {
    background-color:rgb(192, 13, 13);
    color:#fff;
}
.title-home-card {
    color:#000;
}
.description-home-card {
    color:#000;
}
.button-card-left-home {
    background-color: #54838a;
    color:#fff;
}
.button-card-right-home {
    background-color: #54838a;
    color:#fff;
}








/* ####################### */
/*     TELA DE KANBAN      */
/* ####################### */

.column-kanban {
    background-color: #ffffff4d;
}
.card-kanban {
    border-radius: 5px;
    color: #000;
    background-color: rgb(204 204 204);
    box-shadow: 0px 1px 5px 1px rgb(0 0 0);
}
.close-btn-kanban{
    background-color:rgb(192, 13, 13);
    color:#fff;
}
.button-card-left-kanban {
    background-color: #54838a;
    color:#fff;
}
.button-card-right-kanban {
    background-color: #54838a;
    color:#fff;
}
.column-title-kanban {
    color: rgb(255, 255, 255);
}
.button-voltar-kanban {
    color:#fff;
    background-color:rgb(83 83 83);
}
.color-fundo-kanban {
    background-color:#000;
    box-shadow: 0px 1px 4px 1px rgb(56, 56, 56);
}