body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.buttonCreate {
    width: 350px;
    right: 0;
    float: right;
    position: fixed;
}
.sala {
    padding: 20px;
    width: calc(100% - 350px);
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    overflow-y: auto;
}

.buttonCreate button {
    width: 13%;
    padding:  30px 10px;
    position: fixed;
    border-radius: 5px;
}
.buttonCreate .cria{
    right: 40px;
    bottom: 30px;
}
.buttonCreate .limpa{
    right: 40px;
    bottom: 130px;
}
.buttonCreate .desloga{
    right: 40px;
    bottom: 230px;
}
.buttonCreate .goBackPortifolio{
    right: 40px;
    bottom: 330px;
}

.buttonCreate button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all .1s;
}


.card {
    width: 250px;
    height: 200px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    text-decoration: none;
}
.card:hover{
    transform: scale(1.03);
    cursor: pointer;
}

::-webkit-scrollbar{
    width: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 222, 222);
}

.modalTitulo {
    position: fixed;
    width: 100%;
    height: 99%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #0000006b;
}
.cardCreate {
    width: 350px;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}
.cardCreate h2 {
    font-weight: 300;
    margin-bottom: 44px;
}
.cardCreate input {
    padding: 10px;
    width: 80%;
    border: none;
    margin-bottom: 100px;
}
.btnSalvar {
    position: absolute;
    padding:10px;
    cursor: pointer;
    bottom: 30px;
    right: 30px;
}
.btnSalvar:hover {
    transform: scale(1.05);
}
.btnClose {
    position: absolute;
    padding:10px;
    cursor: pointer;
    bottom: 30px;
    right: 110px;
}
.btnClose:hover {
    transform: scale(1.05);
}


