/* .border { border: 1px solid #009688; }  */
body {
    font-family: Arial, Helvetica, sans-serif;
}


.check-size{
    width: 50%;
}
.box{
    border: 1px solid red;
}
.section-1{
    display: flex;
    height: 96vh;
}
.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15vh;
}

.children-one{
    width: 49vw;
}
.children-two h4 {
    text-align: center;
}
.children-two{
    overflow-y: auto;
    width: 50vw;
    display: flex;
    justify-content:  space-evenly;
    align-items: flex-start;
}
.listOne {
    width: 290px;
    min-width: 290px;
    padding-top: 9px;
}
.title {
    width: 575px;
    text-align: left;
}
#questions {
    position: relative;
    height: 90vh;
    overflow-y: auto;
}

input[type='checkbox']::before {
    content: ' ';
    width: 20px;
    height: 20px;
    position: absolute;
    
  }
  input[type='checkbox']:checked::after {
    content: ' ';
    width: 0.2rem;
    height: 1rem;
    margin-left: 0.5rem;
    border-style: solid;
    border-width: 0 3px 3px 0;
    position: absolute;
    transform: rotate(45deg);
  }

.Pesquisar {
    border: 1px solid;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(13, 121, 13);
    padding: 5px 10px;
    cursor: pointer;
}
.Pesquisar:hover {
    transform: scale(1.05);
}
.buttons{
    width: 270px;
    padding: 20px;
}
.options{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5px;
    min-height: 67px;
}
.options input{
    border: 1px solid #009688;
    padding: 5px 15px;
    margin: 0 10px;
    border-radius: 50px;
    color: #fff;
    background-color: #223538;
}
.options input:hover {
    background-color: #287f8a;
    cursor: pointer;
}

.progressBar{
    width: 70%;
    padding: 10px;
    border-radius: 100px;
    text-align: center;
    background-color:rgb(255, 255, 255)
}
.Kanban {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    background-color: rgb(216, 216, 216);
    cursor: pointer;
}
.selected {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color:#000;
}

.innitBacklog {
    margin-top: 10px;
}

#cardsSugestions {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 266px;
    height: 100%;
    margin: 0 10px 10px 10px;
    border-radius: 5px;
}

#kanban {
    border-radius: 5px;
    width: 90vw;
    margin: 30px auto 0 auto;
    height: 88vh;
    padding: 10px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}
::-webkit-scrollbar {
    background-color: rgb(229, 229, 229);
    height: 10px;
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(184, 184, 184);
}

#backlog {
    width: 100%;
    position: relative;
}
#desenvolvimento {
    width: 100%;
}
#lixeira {
    width: 100%;
}
#empedimento {
    width: 100%;
}
#concluido {
    width: 100%;
}
.buttonsForm {
    display: flex;
    position: relative;
    bottom: 0;
}
.right-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 105px;
    font-family: monospace;
    border: none;
    cursor: pointer;
}
.left-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 105px;
    font-family: monospace;
    border: none;
    cursor: pointer;
}
.concluido {
    background-color: #b1ffaa!important;
}
.excluido {
    opacity: 0.4;
}
.btn-innit {
    right: 10px;
    bottom: 10px;
}
.btn-innit2 {
    left: 10px!important;
    bottom: 10px!important;
    width: 105px;
    border: none;
}

.card-style {
    margin: 10px;
    height: 135px;
    position: relative;
    padding: 5px;
}


.back { 
    position: absolute;
    padding: 5px 20px;
    bottom: 0;
    left: 0;
    cursor: pointer;
    font-weight: 500;
}
@media (max-width: 1024px) {
    .section-1{
        flex-direction: column;
    }
    .children-one{
        width: 100%;
    }
    .children-two{
        width: 100%;
    }
}

.close-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    cursor: pointer;
}

.info {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.orientation {
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 400px;
    height: 250px;
    padding: 10px;
    display: none;
}
.orientation p {
    font-size: 0.9rem;
    line-height: 1.5;
}

@keyframes showModal {
    0% {
        margin-bottom: -327px;
    }
    100% {
        margin-bottom: 0;
    }
}

.d-block {
    display: block;
    animation: showModal 1s alternate ease-in-out;
    z-index: 500;
}
