
.background {
    width: 90vw;
    margin: 0 auto 50px auto;
    background-color: #2e2e2e;
}
a {
    color: #fff;
    text-decoration: none;
}
.title {
    width: 90vw;
    margin: 0 auto 0 auto;
    border: none;
    padding: 1px;
    margin-top: 50px;
    color: #fff;
    position: relative;

    h3 {
        padding: 10px;
        border: none;
        width: max-content;
        margin-bottom: -1px;
        border-radius: 1px;
        background-color: #2e2e2e;
        letter-spacing: 2px;
    }
}

.container-top {
    background-image: url('./assets/img/modelo-1.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    box-shadow: 0px 0px 66px 31px #46199f;

    .navbar {
        position: absolute;
        color: #fff;
        width: 100%;
        background-color: #44444442;
        a {
            color: #fff;
            text-decoration: none;
        }
        ul {
            display: flex;
            justify-content: right;
            list-style: none;
        }
        li {
            margin-right: 50px;
            color: #00e7ff;
            border: 1px solid #2e8a8833;
            padding: 10px 20px;
            background-color: #2e8a8833;
            border-radius: 2px;
            transition: all .2s;
            &:hover,
            &:focus {
                cursor: pointer;
                box-shadow: 0px 2px 4px -5px #ffffff;
                transform: translateY(-2px);
                background-color: #338f8d;
            }
        }
    }
    .box-astronauta {
        position: relative;
        .text-astronauta {
            position: absolute;
            right: 200px;
            top: 230px;
            color: #000;
            border-radius: 2px;
            font-weight: bolder;
            border: 1px solid;
            padding: 10px;
            background-color: #fff;
            animation: animaOpacityText 2s alternate ease-in-out;
            &::after {
                content: '';
                position: absolute;
                right: -5px;
                bottom: -1px;
                width: 25px;
                height: 12px;
                background-color: white;
                border-bottom-left-radius: 23px;
                border-top-right-radius: -11px;
                transform: rotate(187deg);
            }
        }
        .astronauta {
            z-index: 999;
            width: 200px;
            position: absolute;
            right: 0;
            top: 250px;
            animation: animaRightToLeft 2s alternate ease-in-out;
        }
    }
    
    .caixa-foguete {
        position: absolute;
        left: 50%;
        top: 500px;
        transform: translate(-50%, -50%);
        .foguete {
            width: 100px;
            height: 165px;
            position: relative;
            border: 1px solid rgba(255, 0, 0, 0);
            z-index: 99;
            animation: animaFoguete 10s alternate ease-in-out;
            .carcaca {
                width: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                z-index: 99;
            }
            .fogo {
                width: 100%;
                transform: rotate(180deg);
                margin-bottom: 50px;
                position: absolute;
                bottom: -145px;
                animation: animaOpacity 10s alternate ease-in-out;
            }
        }
    }
}


.container {
    width: 90vw;
    margin: 0 auto;
    background-color: #2e2e2e;
    color: #fff;
    box-shadow: 0px 3px 3px 0px #242424;
}
.name-skills {
    display: flex;
    height: 500px;
    .box-buttons {
        margin: 0;
        width: 150px;
        height: 100%;
        list-style: none;
        padding: 0;
        .buttonActive {
            border: none;
            text-align:center;
            padding: 20px 0px;
            height: 25%;
            width: 100%;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #2e2e2e;
            transition: all .2s;
            cursor: pointer;
        }
        .buttonInative {
            text-align:center;
            padding: 20px 0px;
            height: 25%;
            width: 100%;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #00000091;
            transition: all .2s;
            &:hover {
                background-color: #2c35a1;
                cursor: pointer;
                transition: all .2s;
            }
        }
    }
    .container-skills {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow-y: auto;
        gap: 10px;
        padding: 20px;
        width: 100%;
        grid-auto-rows: max-content;
        .box-skill {
            border: 1px solid;
            display: flex;
            padding: 10px 20px;
            background-color: #000000;
            height: max-content;
            animation: showSkill .5s alternate ease-in-out;
            img {
                width: 50px;
            }
            p {
                margin: 0 20px 0 20px;
                white-space: nowrap;
            }
            .size-Progressbar {
                width: 100%;
            }
            .progressBar {
                border: 1px solid #000;
                font-weight: bolder;
                padding: 2px;
                margin: 10px 10px 0 20px;
                height: 10px;
            }
        }
    }
}

.projects-box {
    .project-box {
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        .box-project {
            border: 1px solid #000;
            padding: 20px;
            background-color: #343434;
            transition: all .2s;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            &:hover {
                cursor: pointer;
                background-color: #1d5a5e;
                transition: all .2s;
            }
            img {
                width: 100%;
            }
            p {
                color: #fff;
                text-align: center;
                font-weight: 600;
            }
        }
    }
}


.box-aboutMe {
    position: relative;
    .aboutMe-box {
        display: flex;
        .aboutMe-photo {
            padding: 20px;
            width: 25vw;
            img {
                width: 100%;
                animation:  delayImagePerfil 3s alternate ease-in-out;
            }
        }
        .description {
            width: 75vw;
            font-size: 18px;
            line-height: 29px;
            color: #afafaf;
            font-weight: 600;
            h3 {
                margin-bottom: 30px;
            }
        }
    }
    .alienigena {
        img {
            animation: naveEspacialAnima 30s linear infinite;
            position: absolute;
            top: 20px;
            right: 10px;
            width: 50px;
        }
    }
    @media (max-width:600px) {
        .aboutMe-box {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

    }
}


.box-contact-me {
    display: flex;
    height: 300px;
    .socialMedia {
        padding: 20px;
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
      
        .box-socialMedia {
            display: flex;
            margin: 15px auto 10px auto;
            width: 212px;
            padding: 9px 20px;
            align-items: center;
            background-color:  #343434;
            box-shadow: 0px 0px 5px 1px black;
            transition: all .2s;
            &:hover {
                transition: all .2s;
                background-color: #2a8086;
                cursor: pointer;
            }
        }
        span {
            font-weight: 600;
            letter-spacing: 2px;
        }
        img {
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }
    }

    form {
        width: 40vw;
        display: flex;
        flex-direction: column;
        padding: 20px;

        button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: #286867;
            color: #fff;
            float: right;
            box-shadow: 0px 0px 8px 0px black;
            margin-top: 15px;
            font-weight: 600;
            transition: all 0.2s;
            &:hover {
                transition: all 0.2s;
                background-color: #2e8a88;
                cursor: pointer;
            }
        }
        textarea {
         padding-left: 10px;
         height: 100px;
         resize: none;
         background-color: #4e4e4e;
         color: #fff;
        }
        input {
         height: 40px;
         padding-left: 10px;
         background-color: #4e4e4e;
         color: #fff;
         &:nth-child(n - 2){
            margin-bottom: 10px;
        }
         
        }
    }
}

.topPage {
    z-index: 99999;
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000a1;
    color: #686868;
    box-shadow: 0px 0px 4px 1px #2e2e2e;
    font-size: xx-large;
    font-family: cursive;
    animation: animaOpacityText 1s alternate ease-in-out;
    &:hover{
        cursor: pointer;
        color: #fff;
    }
}

.copy-right {
    width: 100%;
    text-align: center;
    margin-top: 100px;
    background-color: #2e2e2e;
    box-shadow: 0px 0px 6px 0px #080808;
    color: #fff;
    padding: 15px 0;
    p {
        margin: 0;
    }
}





@keyframes naveEspacialAnima {
    0%{right: 10px;}
    50%{right:  400px;}
    100%{right:  10px;}
}

@keyframes animaOpacity {
    0%{opacity: 1;}
    50%{opacity: 1;}
    51%{opacity: 0;}
    85%{opacity: 1;}
    86%{opacity: 0;}
    95%{ opacity: 1;}
    96%{ opacity: 0;}
    100%{ opacity: 0;}
}

@keyframes animaFoguete {
    0%{transform: rotate(90deg) scale(0.4); right: 70vw; top: -200px;}
    45%{transform: rotate(90deg) scale(0.4); right: -110vw; top: -200px;}
    60%{transform: rotate(10deg) scale(1); top: -100vh;}
    61%{transform: rotate(-10deg) scale(1); top: -100vh;}
    62%{transform: rotate(10deg) scale(1);}
    90%{transform: rotate(-10deg);}
    92%{transform: rotate(5deg);}
    95%{transform: rotate(-5deg);}
    96%{transform: rotate(2deg);}
    100%{transform: rotate(0deg); top: 0;}
}

@keyframes animaOpacityText {
    0%{opacity: 0;}
    80%{opacity: 0;}
    100%{ opacity: 1;}
}
@keyframes animaRightToLeft {
    0%{right: -200px;}
    100%{right: 0;}
}



@keyframes showSkill {
    0% {
        opacity: 0;
        transform: translate(-40px, 0);
      }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}



@media (max-width: 1242px) {
    .name-skills {
        .container-skills {
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .projects-box {
        .project-box {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
@media (max-width: 950px) {
    .name-skills {
        .container-skills {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .projects-box {
        .project-box {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
@media (max-width: 740px) {
    .name-skills {
        .box-buttons {
            width: 100px;
        }
        .container-skills {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .projects-box {
        .project-box {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: 600px) {
    .container-top {
        .navbar{
            ul{
                justify-content: space-around;
                padding: 0;
            }
            li {
                margin-right: 0px;
            }
        }
    }
    // .projects-box {
    //     .project-box {
    //         grid-template-columns: repeat(1, 1fr);
    //     }
    // }
}
@media (min-width: 1350px) {
    .container-top {
        .caixa-foguete {
            top: 450px;
        }
    }
    .projects-box {
        .project-box {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}
@media (min-width: 1650px) {
    .container-top {
        .caixa-foguete {
            top: 400px;
        }
    }
    .projects-box {
        .project-box {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}

