
.container-top {
    background-image: url('./assets/img/modelo-1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;

    .caixa-foguete {
        position: absolute;
        left: 59%;
        top: 440px;
        transform: translate(-50%, -50%);
        .foguete {
            width: 120px;
            height: 220px;
            position: relative;
            border: 1px solid rgba(255, 0, 0, 0);
            z-index: 99;
            animation: animaFoguete 5s alternate ease-in-out;
            .carcaca {
                width: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                z-index: 99;
            }
            .fogo {
                width: 100%;
                transform: rotate(180deg);
                margin-bottom: 50px;
                position: absolute;
                bottom: -145px;
                animation: animaOpacity 1s alternate ease-in-out 3;
            }
        }
    }
}

@keyframes animaOpacity {
    0%{opacity: 1;}
    40%{opacity: 0;}
    50%{opacity: 1;}
    70%{opacity: 0;}
    90%{opacity: 1;}
    100%{ opacity: 0;}
}

@keyframes animaFoguete {
    0%{top: -800px}
    100%{ top: 0}
}


.container {
    height: 500px;
    background-color: #421f95;
}