@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html {
  scroll-behavior: smooth;

}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// ::-webkit-scrollbar {
//   width: 5px;
//   background-color: rgb(0, 0, 0);
// }
// ::-webkit-scrollbar-thumb {
//   background-color: rgb(34, 102, 148);
// }

