body {
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgb(0, 0, 0) 40%, rgb(17, 69, 80) 70%, rgb(0, 0, 0) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    overflow-y: hidden;
}
